.HeadingTrend{
    color: aliceblue;
    font-size: 1.5rem;
    padding:1rem;
}
.Trendlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
        height: 80%;
    justify-items: center;
        align-items: center;
}

.row_Posters_trend{
    outline-offset: .2rem;
    outline: 1px dashed rgb(255, 255, 255);
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_Posters_trend:hover {
    transform: scale(1.06);
    opacity: 1;
    transition: transform 450ms;

}
.TopTrending{
    /* position: fixed; */
    height: 100%;
}